# Miscellaneous
*.class
*.log
*.lock
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ / Android Studio
.idea/
*.iml
*.iws
*.ipr
out/

# Visual Studio Code
.vscode/

# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
android/local.properties

# Node / NPM
node_modules/
npm-debug.log

# Environment Variables
.env
